.background {
    position: fixed;
    overflow: hidden;
    top: 0px;
    height: 100%;
    width: 100%;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    z-index: -10;

    background-image: url(../assets/background_bw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    -webkit-filter: blur(0px);
    
            filter: blur(0px);

    /*animation: blur_in 2s ease;*/
    /*animation-fill-mode: both;*/
}