@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Source+Sans+Pro:200');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Charmonman|Satisfy');

/* GOOGLE FONTS

font-family: 'Amatic SC', cursive;
font-family: 'Charmonman', cursive;
font-family: 'Satisfy', cursive;
font-family: Roboto Condensed;

*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: 'Amatic SC', cursive;
    /*scroll-behavior: smooth;*/
}
body{
    /*margin:10px;*/
    background-color: #fafafa;
}


/************ SOCIAL ***********/
.social{
    position: fixed;    
    display: flex;
    flex-direction: column;
    left: 20px;
    bottom: 20px;
    z-index: 1001;
    color: #fafafa;
}
.social div {
    text-align: center;
}
i {
    font-size: 40px;
    text-shadow: 0 0 2px black;
    margin-bottom: 20px;
    align-self: center;
    perspective: 1000px;
    transition: all 1s;
}
.social div:hover i {
    cursor: pointer;
    animation: turn 0.5s ease-in-out;

}

@keyframes turn {

    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}


/********* BACKGROUNDS ************/

.background {
    z-index: -10;
    position: relative;
    top: -100px;
    background-image: linear-gradient(to bottom, rgba(20,20,0,0.8),rgba(20,10,80,0.5)), url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background2 {
    background-image: linear-gradient(to bottom, rgba(20,20,0,0.8),rgba(20,10,80,0.5)), url(../assets/champagner-1071356_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.background3 {
    background-image: linear-gradient(to bottom, rgba(20,20,0,0.8),rgba(20,10,80,0.5)), 
    url(../assets/pizza_bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.background4 {
    background-image: linear-gradient(to bottom, rgba(20,20,0,0.8),rgba(20,10,80,0.5)), 
    url(../assets/pizza_bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.background5 {
    background-image: linear-gradient(to bottom, rgba(20,20,0,0.8),rgba(20,10,80,0.5)), 
    url(../assets/pizza_a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.background5 {
    background-image: linear-gradient(to bottom, rgba(20,20,0,0.8),rgba(20,10,80,0.5)), 
    url(../assets/bg6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.height_full {
    height: 100vh;
}
.height_half_plus {
    height: 75vh;
}
.height_half {
    height: 50vh;
}
.height_quarter {
    height: 25vh;
}
.flex_centered {
    display: flex;
    justify-content: center;
    text-align: center;
}
.flex_centered h2 {
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;

}
/***************************************************/


/************** SECTIONS TYPES *****************/
/* this section is 100vh and text centered */
.section_normal {    
    position: relative;
    width: 100%;
    top: -100px;
    color: black;
}
/*******************************************/

/*SECTION ABOUT*/
.wrapper_about {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fafafa;
}
.wrapper_about .about_header {
    width: 30%;
    margin-top: 80px;
    margin-bottom: 80px;
    border-right: 1px solid pink;
}
.wrapper_about .about_content {
    width: 70%;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: bold;
}
.story {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*background-color: blue;         /* DEBUG */
}
.story p {
    width: 50%;
    align-self: center;
    text-align: right;
    margin-right: 15px;
    line-height: 25px;
    font-family: Roboto Condensed;
    /*background-color: pink          /* DEBUG */
}
.story #img1 {
    object-fit: contain;
    /*width: 100%;*/
}
.story #img2 {
    object-fit: cover;
    order: 1;
}
.story:nth-of-type(2) p{
    order: 2;
    text-align: left;
    margin-left: 15px;
}
.story #img3 {
    object-fit: cover;
}

.story img {
    filter: grayscale(100%) brightness(125%);
    transition: 0.3s;
    transform: scale(0.95);
}
.story img:hover, .story:hover img {
    filter: grayscale(0%);
    transform: scale(1);
}

/******* QUOTES *******/
.quotes {
    position: absolute;
    /*display: flex;*/
    /*flex-flow: column;*/
}
.quote_h1 {
    position: relative;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center; 
    font-size: 2em;
}
.quote_h2 {
    position: relative;
    color: white;
    margin: 100px;
    font-size: 1.5em;
    /*z-index: -1000;*/
}
.quotation_mark_big {
    font-size: 40px;
}
.nyt {
    width: 200px;
    /*margin-left: calc(100% - 300px);*/
    margin: auto;
    padding-top: 40px;
}
/*************************/




/* The styling for the static div. */
.static {
  background-color: #f5f5f5;
}


/*************** MENU CONTAINER ***************/
.sticky {
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.menu_container {
    width: 100%;
    padding-top: 0px; /*menu padding*/
}
.menu_container_small {
    padding-top: 0px;
}
.div_logo{
    height: 100%;
}
.logo{
    /*transform: translateY(-10px);*/
    filter: drop-shadow(0px 0px 2px black) opacity(0.8);
    height: 100px;
    margin-right: 50px; 
    object-fit: contain;
        /*debug check boundaries*/
        /*background-color: yellow;*/
}
.logo_small{
    height: 100%;
    /*transform: translateY(0px);*/
}
.menu{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5));
    box-shadow: 0 1px 15px 2px rgba(0,0,0,0.6);
}
.menu_small {
    height: 50px;    
    line-height: 50px;
    background-image: '';
    background-color: #111;
}
.menu_list {
    display: flex;
    justify-content: center;
}
.menu_list .menu_item {
    list-style: none;
    width: 100px;
    text-align: center;
    font-size: 1.8em;
    line-height: 100px;
    color: #efefef;
}
.menu_list a {
    display: block;
        color: #efefef;
        text-decoration: none;
}
.menu_list a:hover {
    text-decoration: overline;
    background-color: rgba(200,200,190,0.2);
    cursor: pointer;
    box-shadow: 0 10px 10px 0px rgba(0,0,0,1);
}

.menu_list .menu_item_small {
    height: 50px;    
    line-height: 50px;
}
.menu_list .menu_item_small:hover {
    /*text-decoration: overline;*/
    /*background-color: rgba(200,200,190,0.2);*/
    background-color: transparent;
    cursor: pointer;
    line-height: 52px;
    box-shadow: 0 4px 10px 0px rgba(0,0,0,1);
    /*font-weight: bold;*/
}
/**************** MENU END *************************/
/*responsive item*/
.items_column {
    display: flex;
    flex-direction: column;
    /*change width for responsive media*/
    width: 25%;
}
.pizza_item{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.pizza_item h3 {
    font-family: 'Satisfy', cursive;
}
.pizza_item p {
    font-family: Roboto Condensed;
    font-size: 11px;
}

.wrapper_pizza {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: #fafafa;
}
.pizza_header {
    width: 25%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    border-right: 1px solid pink;
}
.pizza_content {
    width: 100%;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1em;
    font-weight: bold;
}

/**************** CONTACT ********************/
.wrapper_contact {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: #fafafa;
}
.contact_content {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1em;
    font-weight: bold;
}
.contact_header {
    width: 30%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    border-right: 1px solid pink;
}
.contact{
    width: 100%;
    margin-left: 50px;
}

form input {
    border: none;
    height: 25px;
    margin-bottom: 10px;
    background-color: #efefef;
    font-family: Roboto;
}
form label{
    font-family: Roboto Condensed;
    font-size: 0.85em;

}
form textarea{
    font-family: Roboto;
    border: none;
    background-color: #efefef;
}
input[type=submit] {
    height: 45px;
    width: 80px;
    font-size: 16px;
    /*font-weight: bold;*/
    margin-top: 10px;

}

/**************   LOCATIONS   *******************/
.location_container{
    display: flex;
    width: 100%;
    height: 80%;
}
.location_item{
    align-self: center;
    width: 50%;
    text-align: center;
    filter: grayscale(100);
    transition: all 0.3s;
}
.location_container .location_item:first-child {
    border-right: 1px solid pink;
}
.location_item img {
    object-fit: cover;
    width: 60%;
}
.location_item h2{
    font-size: 20px;
}
.location_item p {
    font-family: Roboto condensed;
    font-size: 35px;
    font-weight: bold;
}
.location_item:hover {
    filter: grayscale(0);
    color: #89a;
    /*text-shadow: 0px 0px 1px black;*/
}
#local h2{
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
}
/* LOCATION END */


 /* FOOTER START */
.wrapper_footer {
    display: flex;
    width: 100%;
    height: calc(100% + 100px);    
    background-color: black;
    align-content: flex-end;
}
.height_footer {
    height: 80px;
}
.footer_header {
    width: 50%;
    text-align: center;
    align-self: center;
    height: 100px;
    border-right: 1px solid pink;
    color: #fafafa;
}
.footer_header p {
    line-height: 100px;   
}

.footer_content {
    width: 50%;
    height: 50%;
    align-self: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1em;
    font-weight: bold;
}
.footer_item{
    display: flex;
    flex-direction: row;

}
.footer_item img {
    object-fit: contain;
    height: 100%;
}
/* FOOTER END */

/************************************************/
/************** MEDIA QUERIES *******************/
/************************************************/

/*  MEDIA QUERIES - Desktop First (max-width)  */

@media screen and (max-width: 1024px){
/*in case I need to add a larger screen copy everything outside media query and paste here */

}

/*///////////////   768px   ///////////////////////*/
/* media < 768 px */
@media screen and (max-width: 768px) {

.menu_container {
    padding-top: 0px;
}
.menu {
    height: 50px;    
    line-height: 50px;
    background-image: '';
    background-color: #111;
}
.logo{
    height: 100%;
    /*transform: translateY(0px);*/
}
.menu_list .menu_item {
    height: 50px;    
    line-height: 50px;
}
.menu_list .menu_item:hover {
    /*text-decoration: overline;*/
    /*background-color: rgba(200,200,190,0.2);*/
    background-color: transparent;
    cursor: pointer;
    line-height: 52px;
    box-shadow: 0 4px 10px 0px rgba(0,0,0,1);
    /*font-weight: bold;*/
}

/*responsive item*/
.items_column {
    display: flex;
    flex-direction: column;
    /*change width for responsive media*/
    width: 50%;
}

}/* END - media < 768 px */


/*///////////////   425px   ///////////////////////*/
/* media < 425 px */
@media screen and (max-width: 425px) {

    /*responsive item*/
    .items_column {
        display: flex;
        flex-direction: column;
        /*change width for responsive media*/
        width: 100%;
    }

    .menu_list {
        display: none;
    }
    .menu{
        display: flex;
        justify-content: flex-end;
        height: 100px;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5));
        box-shadow: 0 1px 15px 2px rgba(0,0,0,0.6);
    }

    .menu_container {
        width: 100%;
    }
    .div_logo{
        height: 50%;
    }
    .logo{
        /*transform: translateY(-10px);*/
        filter: drop-shadow(0px 0px 2px black) opacity(0.8);
        height: 100px;
        margin: auto;
        object-fit: contain;
            /*debug check boundaries*/
            /*background-color: yellow;*/
    }

    /******* QUOTES *******/
    .quotes {
        position: absolute;
        /*display: flex;*/
        /*flex-flow: column;*/
    }
    .quote_h1 {
        position: relative;
        color: white;
        margin-top: 200px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center; 
        font-size: 1.5em;
    }
    .quote_h2 {
        position: relative;
        color: white;
        margin: 100px;
        font-size: 0.2em;
        /*z-index: -1000;*/
    }
    .quotation_mark_big {
        font-size: 40px;
    }
    .nyt {
        width: 200px;
        /*margin-left: calc(100% - 300px);*/
        margin: auto;
        padding-top: 40px;
    }
    /*************************/

    /************ SOCIAL ***********/
    .social{
        position: fixed;    
        display: flex;
        flex-direction: column;
        left: 20px;
        top: 130px;
        z-index: 1001;
        color: #fafafa;
    }
    .social div {
        text-align: center;
    }
    i {
        font-size: 40px;
        text-shadow: 0 0 2px black;
        align-self: center;
        transition: all 1s;
    }
    .social div:hover i {
        cursor: pointer;
        animation: turn 0.5s ease-in-out;

    }

}/* END - media < 425 px */