/*
    Author: Alex Bohn
    Date: 2018/11
    ITD Canada
    Mobile-first design
*/ 

/******************** Animations *************************/

@-webkit-keyframes slide_up {
    0% {
        -webkit-transform: translateY(10px);
                transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes slide_up {
    0% {
        -webkit-transform: translateY(10px);
                transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@-webkit-keyframes slide_down {
    0% {
        -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes slide_down {
    0% {
        -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@-webkit-keyframes slide_right {
    0% {
        -webkit-transform: translateX(-50px);
                transform: translateX(-50px);
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes slide_right {
    0% {
        -webkit-transform: translateX(-50px);
                transform: translateX(-50px);
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}


@-webkit-keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes shine {
    0% {
        -webkit-filter: brightness(100%);
                filter: brightness(100%);
    }
    50%{
        -webkit-filter: brightness(110%);
                filter: brightness(110%);   
    }
    100%{
        -webkit-filter: brightness(100%);
                filter: brightness(100%);
    }
}

@keyframes shine {
    0% {
        -webkit-filter: brightness(100%);
                filter: brightness(100%);
    }
    50%{
        -webkit-filter: brightness(110%);
                filter: brightness(110%);   
    }
    100%{
        -webkit-filter: brightness(100%);
                filter: brightness(100%);
    }
}

@-webkit-keyframes blur_in {
    0% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
                filter: blur(4px);
    }
}

@keyframes blur_in {
    0% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
                filter: blur(4px);
    }
}