/* TODO 
 - import googlefonts 
 - organize and comment
 - add "apperUp" animation, check for Safari*/

 @import url('https://fonts.googleapis.com/css?family=Karla');
 @import url(./animations.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
}

header {
    display: block;
    text-align: center;
    color: black;
}

h1 {
    font-size: 1.6em;
}

#logo_blur {
    filter: drop-shadow(0 0 4px white);
    animation: shine 1s ease infinite;
    width: 4em;
}

ul {
    color: black;
    list-style: none;  
}

li {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em; 
    font-size: 1.3em;
}

.menu_desktop {
    display: none;
    line-height: 2em;
    text-align: center;
}

.menu-margin{
    padding-left: 0.5em;
    padding-bottom: 0.6em;
}

.menu_mobile {
    display: none;
    animation: slide_right 0.5s ease;
}

#menu_mobile_id {
    display: none;
    width: 50%;
    background-color: rgba(235,235,240,0.98);
    box-shadow: 3px 0 2px rgba(35,35,40,0.4);
    position: absolute;
    top: 80px;
    left: 0px;
}

.background {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    transform: scale(1.1);
    z-index: -1;
    
    background-image: url(../assets/background_sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    filter: blur(3px);

    animation: blur_in .6s ease; 
    
    /*animation*/
/*    -webkit-animation-name: blurIn;
    -webkit-animation-duration: 3s; 
    animation-name: blurIn;*/
}




#page_container {
    width: 100%;
    padding-top: 20px;       
    background-color: rgba(255,255,255,0.8);
    /*box-shadow: 0 0 0.1px white;*/
    color: white;
    z-index: 3;
    
    /*animation*/
    animation: fade_in .3s ease, slide_up .3s ease;
}


.border_radius_5 {
    border-radius: 0px;
}

/******************** Media Queries *************************/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    *{
        font-size: calc(2vw);
    }

    .menu_desktop {
        display: initial;
        line-height: 2em;
        text-align: center;
    }

    ul {
        display: flex;
        color: black;
        list-style: none;  
    }

    li {
        background-color: white;
        width: 25%;
    }

    li:hover {
        text-shadow: 0 0 2px grey;
        background-color: grey;
        color: white;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #page_container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
        padding-top: 20px;       
        background-color: rgba(255,255,255,0.5);
        box-shadow: 0 0 0.1px white;
        color: white;
        z-index: 3;   
        /*animation*/
        animation: fade_in .3s ease, slide_up .3s ease;
    }

    .border_radius_5 {
        border-radius: 5px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}