/* TODO 
 - import googlefonts 
 - organize and comment
 - add "apperUp" animation, check for Safari*/

 @import url('https://fonts.googleapis.com/css?family=Karla');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: calc(0.5em + 1vw);
}

header {
    text-align: center;
    margin-bottom: 2em;
    color: black;
}

h1 {
    font-size: 1.2em;
}

#logo_blur {
    width: 60%;
}

ul {
    display: flex;
    color: black;
    list-style: none;  
}

li {
    background-color: white;
    width: 25%;
}

li:hover {
    text-shadow: 0 0 2px grey;
    background-color: grey;
    color: white;
}

.menu {
    line-height: 2em;
    text-align: center;
}

.yellow {
    color: green !important; 
}

.background {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    transform: scale(1.1);
    z-index: -1;
    
    background-image: url(../assets/background_sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    filter: blur(3px);

    animation: blur_in .6s ease; 
    
    /*animation*/
/*    -webkit-animation-name: blurIn;
    -webkit-animation-duration: 3s; 
    animation-name: blurIn;*/
}




#page_container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    padding-top: 20px;       
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 0 0.1px white;
    color: white;
    z-index: 3;


    
    /*animation*/
    animation: fade_in .3s ease, slide_up .3s ease;
    animation-delay: 3s;
}


.border_radius_5 {
    border-radius: 5px;
}

/******************** Media Queries *************************/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}




/******************** Animations *************************/

@keyframes slide_up {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slide_down {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}


@keyframes fade_in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blur_in {
    0% {
        filter: blur(10px);
    }

    100% {
        filter: blur(3px);
    }
}