@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Catamaran|Exo|Philosopher');

/*
font-family: 'Exo', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Philosopher', sans-serif;
*/

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Exo', sans-serif;
	text-align: center;
}
body {
	background-color: #faeefe;
}

h1 {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 50px;
	text-transform: uppercase;
}

h2{
	margin: 0px;
	margin-top: 30px;
	padding: 0px;
}

h2+p {
	font-size: 25px;
	/*text-transform: uppercase;*/
}

p+p {
	margin: auto;
	width: 80%;
}


.card-container {
  	background-color: transparent;
  	-webkit-perspective: 1000px;
  	        perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 3px solid white;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 10px 15px 3px rgba(0,0,0,0.3);
          box-shadow: 0 10px 15px 3px rgba(0,0,0,0.3);
}

.card-container:hover .card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-front {
  color: black;
  z-index: 2;
}

.card-back {
  background-color: darkblue;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 1;
}


/******************  cards start ****************/
.cardA{
	background-image: url("../images/cat1.jpg");
}
.cardB{
	background-image: url("../images/cat2.jpg");
}
.cardC{
	background-image: url("../images/cat3.jpg");
}
.cardD {
	background-image: url("../images/cat4.jpg");
}
.cardE {
	background-image: url("../images/hipster.jpg");
}
.cardF {
	background-image: url("../images/cat5.jpg");
}
.cardG {
	background-image: url("../images/cat6.jpg");
}
.cardH {
	background-image: url("../images/cat7.jpg");
}
.cardI {
	background-image: url("../images/cat8.jpg");
}

.cardA,
.cardB,
.cardC,
.cardD,
.cardE,
.cardF,
.cardG,
.cardH,
.cardI {
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
}

/******************  cards end ****************/

/******************* grid design start **************/

.grid-wrapper {
	width: 100%;
	height: 600px;
	padding: 2%;
	max-width: 750px;
	margin: auto;
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-grid-columns: 30% 30% 30%;
	    grid-template-columns: 30% 30% 30%;
	grid-gap: 3.333333%;
}

.footer_social {
	margin-top: 60px;
}
/******************* grid design end **************/